# dbt artifacts and packages
target/
dbt_packages/
logs/

# Raw data or temp sources (optional folder for local data)
sources/

# Python virtual environments
.venv/
venv/
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS / editor files
.DS_Store
.vscode/
.idea/

# Environment variables
.env
